<ion-card>
  <ion-card-header>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Назва</ion-label>
      <ion-input type="text"[(ngModel)]="book.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Автор</ion-label>
      <ion-input type="text"[(ngModel)]="book.author" name="author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Кількість сторінок</ion-label>
      <ion-input type="number"[(ngModel)]="book.page_amount" name="page_amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Рік</ion-label>
      <ion-input type="number"[(ngModel)]="book.publish_year" name="publish_year"></ion-input>
    </ion-item>
    <ion-button *ngIf="isNew" color="primary" (click)="addNew()">
      <ion-icon slot="start" name="add-circle"></ion-icon>Додати
    </ion-button>
    <ion-button *ngIf="isNew" color="danger" class="ion-float-right" (click)="cancelAdding()">
      <ion-icon slot="start" name="close"></ion-icon>Відмінити
    </ion-button>
  </ion-card-content>
</ion-card>